.emptyCartView{
    width: 100%;
    font-family: 'Caveat', cursive;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.427)),
    url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHBsYW5rfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(20%);
}
.emptyCartView h2{
    font-size: 3rem;
    color: #fff;
    margin-top: 100px;
}

.emptyCartView p {
    font-size: 2rem;
    color: #fff;
}

.emptyCartView .link{
    font-size: 3rem;
    color: #111;
    text-decoration: none;
    border: solid 1px #fff;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    margin-top: 30px;
}




.cartView{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.427)),
    url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHBsYW5rfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.cartProductList{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cartProduct{
    background-color: #fff;
    display: flex;
    width: 80%;
    position: relative;
    margin-top: 15px;
}

.productImg{
    width: 150px;
    height: 150px;
}


.cartProductName{
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}

.cartProductBrand{
    margin-left: 10px;
    margin-right: 5px;
}

.deleteBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

.cartAside{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.dumpCartBtn{
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.cartAsideInfo{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.cartAsideInfo h2{
    margin-top: 10px;
}

.cartAsideInfo .buyBtn{
    padding: 5px;
    border: solid 1px #111;
    border-radius: 20px;
    cursor: pointer;
}

.orderForm{
    max-width: 250px;
    position: absolute;
    right: 50%;
    top: 30%;
    z-index: 100000;
    color: rgb(221, 255, 0);
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.527)),
    url("https://cf.ltkcdn.net/antiques/images/orig/226165-2121x1414-Antique-cash-register.jpg");
    font-family: 'Caveat', cursive;
    background-size: cover;
    
    padding: 50px 100px 50px 100px;
    border-radius: 30px;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.finalizarCompraBtn{
    position: absolute;
    right: 30px;
    bottom: 0;
    cursor: pointer;
}



.adress{
    display: flex;
    flex-direction: column;
}

.orderFormItem{
    border: none;
    border-bottom: 1px solid rgb(221, 255, 0);
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    color: #fff;
}

.orderFormQuit{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 20px;
    top: 20px;
    cursor: pointer;
}