.detailContainer{
    padding: 50px;
    display: flex;
}
.detailContainer img{
    width: 400px;
    height: 400px;
}
.infoContainer{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    font-size: 40px;
}
.name span{
    font-weight: lighter;
}

.price{
    display: flex;
    justify-content: flex-end;
}

.disabled{
    opacity: 50%;
}

.goToCartButton{
    width: 20%;
    background-color: #111;
    color: #fff;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    text-decoration: none;
}

